
header{
  text-align: center;
  border-radius: 10px;
  height: 100px;
  background-color: rgb(255, 255, 255);
   box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
#header1 {
  border-radius: 10px;
  height: 100px;
  background-color: rgb(255, 255, 255);
   box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
body {
  background: url(images/фон6.png);
}

p{
  padding: 15px; 
  font-size: 21px;
  font-style: italic;
  margin: 10
}
p1{
  font-size: 15px;
  
}
p3{
  margin: 10;
  font-size: 25px;
  font-weight: bold;
  text-align: center;

}
.fig {
  text-align: center; /* Выравнивание по центру */ 

 }
a{
  color: rgb(0, 0, 0);
  text-decoration: none
}

footer{
  margin-right: 100px;
  text-align: center;
  height:40px; 
  background-color: #ffffff; 
  width: 1260px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
}

.bod{
  margin-top: 34px;
  text-align: center;
}
#sidebar1{ 
  background-color: #ffffff;
  width:200px;
  padding: 10px;
  float: left; /* Размещаем блок справа от других элементов.*/
  border-radius: 10px; 
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Задаём блоку тень */
}




